body {
    display : flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    padding-bottom: 10px;
}

nav {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;

}

nav li {
    margin: 0 15px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    flex: 1;
}
.footer-container {
    flex: 0; 
    margin-top: auto;
}

footer {
    background-color: #48c3ec;
    color: black;
    text-align: center;
    padding: 0.25em;
     width: 100%;
}

.toolbar {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    margin-top: auto;

}

.toolbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;

}

.toolbar a:not(:last-child){
    margin-right: 10px;
}

.instagram-logo{
    margin-top: 50px;
}
