@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    padding-bottom: 10px;
}

header.hero{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em;
}

header.hero h1{
    font-size: 2em;
    margin-bottom: 10px; 
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2em;
    margin-bottom: 10px;
}

nav {
    background-color: #444;
}

nav.navbar{
    background-color: #444;
}

nav.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav.navbar h1.logo {
    color: white;
    font-size: 1.5em;
}

nav.navbar ul.nav-links {
    list-style-type: none;
    display: flex;
}

nav.navbar ul.nav-links li {
    margin: 0 15px;
}

nav.navbar ul.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;

}

nav li {
    margin: 0 15px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

/* Main content styles (customize as needed) */
main {
    padding: 2em;
}

/* Footer styles */
footer {
    background-color: #48c3ec;
    color: black;
    text-align: center;
    padding: 1em;
     width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.footer-col {
    margin-bottom: 30px;
    text-align: center;
}

.footer-col h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-col p {
    margin-bottom: 20px;
}

.social-icons a {
    color: rgb(64, 112, 84);
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 20px;
}

/* Contact form styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: white;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}


/*font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;