	@import url('/website/essentials/include/colors.css');
	@import url('/website/essentials/include/bulma-modifications.css');
	@import url('/website/essentials/include/custom.css');
	@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;700&display=swap');
	
	body, html, .quickViewBody{
	font-family: "Maven Pro", sans-serif;
	color: var(--black-color);
	background-color: var(--light-color);
	background-image: url("/assets/bg.png");
	background-repeat: repeat;
	scroll-behavior: smooth;
	}
	
	h1, h2, h3, h4, h5, h6{ font-weight: 700; line-height: 100%; }
	
	input[type=file]{
	border: 2px dashed var(--dark-color);
	border-radius: 6px;
	padding: 3rem;
	width: 100%;
	}
	
	.aNotHover:hover{ cursor: context-menu; text-decoration: none !important; }
	.fas, .far, .fab, .fa-solid, .fa-regular, .fa-brands{ margin: auto 0.25rem; }
	
	.contentBox{
	width: 80%;
	margin: auto;
	margin-bottom: 0.5rem;
	}
	.loginBox{ width: 40%; }
	
	.overlayLoader{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 40;
	cursor: wait;
	text-align: center;
	color: #fff;
	-webkit-animation: fade 0.3s ease-in-out;
	animation: fade 0.3s ease-in-out;
	}
	.overlayLoader .imgProcessing{ width: 60%; margin: auto; }
	.overlayLoader .loaderBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	
	.trvModal{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(25, 25, 26, 0.3);
	z-index: 40;
	}
	.trvModal-content{
	position: relative;
	color: var(--black-color);
	background-color: var(--modal-background-color);
	border: 2px solid var(--black-color);
	margin: 5% auto;
	width: 60%;
	border-radius: 6px;
	-webkit-animation: enter-top 0.5s ease-out;
	animation: enter-top 0.5s ease-out;
	}
	.trvModal-content-small{ width: 40%; }
	.trvModal-content .delete:first-child{
	position: absolute;
	top: 7px;
	right: 7px;
	}
	.trvModal-header{
	width: 100%;
	text-align: center;
	background-color: var(--modal-header-color);
	border-bottom: 2px solid var(--black-color);
	padding: 1.5rem;
	border-radius: 6px 6px 0 0;
	}
	.trvModal-elements{
	padding: 1.5rem;
	text-align: center;
	}
	
	.boxVoted{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	
	.heroOverlay, #heroImages{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.5);
	z-index: 10;
	}
	#heroImages{ z-index: 8; }
	#heroImages .div{ width: 100%; height: 100%; }
	.hero-body{ z-index: 12; }
	.heroOverlayDouble:nth-child(odd){ left: 0; width: 50%; }
	.heroOverlayDouble:nth-child(even){ right: 0; width: 50%; }
	
	.imageRadius, .imageRadius img{ border-radius: 6px; }
	
	.footer{
	background-image: url("/assets/bg.png");
	background-repeat: repeat;
	color: var(--footer-text-color);
	}
	
	.specialPagesLeftTitle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	
	.boxShadowHover{ transition: .2s; }
	.boxShadowHover:hover{ box-shadow: 2px 2px 8px var(--dark-color); }
	
	.categoryColorImage{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	position: relative;
	background-color: var(--dark-color);
	color: var(--white-color);
	}
	.categoryColorImage span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	}
	
	.filtersBox{
	background-color: var(--normal-color);
	color: var(--white-color);
	position: absolute;
	margin-top: 0.25rem;
	z-index: 10;
	}	
	.paginationBox{
	width: 50%;
	margin: auto;
	}
	
	#headerLogoDesktop{ display: none; }
	#headerLogoMobile{ display: flex; }
	@media screen and (min-width: 1024px){
	#headerLogoDesktop{ display: flex; }
	#headerLogoMobile{ display: none; }
	}
	
	.additionalConfigBox{
	background-color: var(--light-color);
	color: var(--black-color);
	border-radius: 6px;
	position: relative;
	}
	.additionalConfigBox:after{
	content: " ";
	position: absolute;
	left: 0px;
	top: -10px;
	border-top: none;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid var(--light-color);
	}
	
	.floatingCircle{
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	border-radius: 50%;
	z-index: 4;
	cursor: pointer;
	font-size: 26px;
	background-color: var(--dark-color);
	border: 2px solid var(--light-color);
	}
	.floatingCircle:hover{ opacity: 0.6; }
	
	.cookieConsent{
	width: 70%;
	position: fixed;
    z-index: 40;
    left: 50%;
    transform: translate(-50%);
	background-color: var(--dark-color);
	border: 2px solid var(--light-color);
	}
	.cookieConsent.cookieTop{ top: 15px; }
	.cookieConsent.cookieBottom{ bottom: 0; }
	
	.fade{
	-webkit-animation: fade 0.5s ease-in-out;
	animation: fade 0.5s ease-in-out;
	}
	@-webkit-keyframes fade{
	from{
	opacity: 0.4;
	}
	to{
	opacity: 1;
	}}
	@keyframes fade{
	from{
	opacity: 0.4;
	}
	to{
	opacity: 1;
	}}
	
	/* Enter from top */
	@-webkit-keyframes enter-top{
	0%{
	-webkit-transform: translateY(-1000px);
	transform: translateY(-1000px);
	opacity: 0;
	}
	100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	}}
	@keyframes enter-top{
	0%{
	-webkit-transform: translateY(-1000px);
	transform: translateY(-1000px);
	opacity: 0;
	}
	100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	}}
	
	@media screen and (max-width: 768px){
	.loginBox{ width: 80%; }
	.trvModal-content{ width: 95%; }
	.boxVoted{
	position: relative;
	top: auto;
	left: auto;
	transform: initial;
	}
	.list-item-controls{ flex-shrink: initial !important; }
	.specialPagesLeftTitle{ position: initial; transform: initial; }
	.paginationBox{ width: 100%; }
	.cookieConsent{ width: 92%; }
	.heroOverlayDouble:nth-child(odd){ width: 100%; }
	.heroOverlayDouble:nth-child(even){ width: 0%; }
	.buttonsCenteredMobile{ justify-content: center; }
	.trvModalButtons{ flex-direction: column-reverse; display: flex; }
	}